.logo{
    width: 150px;
}
.profil-custom{
    width: 25%;
}
.p-custom{
    padding: 40px 0 0 0;
    font-size: 1em;
    width: 100%;
}
.custom-container-footer{
    background-color: #131313;
    padding: 20px 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.custom-link-menu, .custom-social-link{
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease;
    color: #fff;
}
.custom-link-menu:hover{
    padding-left: 8px;
}
.g-custom{
    gap: 1em;
}
.custom-social-link{
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    width: 45px;
}
.custom-social-link:hover{
    transform: scale(1.2);
}
@media(width<700px){
    .custom-container-footer{
        flex-direction: column;
    }
    .p-custom{
        width: 100%;
    }
    .profil-custom{
    width: 100%;
    }
}