.container_not_found{
    background: url('../../images/Background.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.container_not_found::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to top, #000000,#ec0000a1);
}
.hover:hover{
    background-color: #ff0000;
    color:#fff;
    transition: all 0.3s;
}