.container-log{
    background: url('../../images/Background.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.container-log::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to top, #000000,#000000a9);
}
.form {
background-color: #070707b7;
}
.name, .pssd, .user, .email, .tel {
  background-color: #0377e418;
  border: solid 1px #9494944d;
  border-radius: 5px ;
  padding:4px 9px;
  display: flex;
  flex-direction: column;
}
label{
  color: #fff;
  font-size: 0.9em ;
}
#name, #pssd, #user, #email, #tel {
  background:transparent;
  border: none;
  color: #fff;
  outline: none;
}
#name::placeholder, #user::placeholder, #tel::placeholder, #email::placeholder, #pssd::placeholder {
  font-size: 12px;
  color: #ffffff31;
}
